.bio-avatar{
    display: block;
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    margin: 10px 26px 10px 10px;
  }

  .bio-avatar-inner{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    overflow: hidden;
  }

  .bio-avatar::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  .bio-avatar[data-a11y="true"]:focus::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    border: 2px solid var(--accent);
  }
  .bio-text{
    margin-bottom: 0;
    max-width: 430px;
    font-size: 16px;
    line-height: 1.45;
  }

  body {
    --serif: "Merriweather", Georgia, Serif;
    --sanserif: "Public+Sans", "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Helvetica", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif;
    --monospace: "Operator Mono", Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  }